.trackTimeComponent {
    position: absolute;
    bottom: 60px;
    right: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #7d7b7b;
    margin-right: 15px;
  }