.trackTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 447px;
}
  
  .trackAuthor {
    width: 321px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  
  .trackAuthorLink {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    text-align: left;
  }
  
  .trackAlbum {
    width: 245px;
  }
  
  .trackAlbumLink {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7d7b7b;
  }
  
  .trackLikeSvg {
    width: 14px;
    height: 12px;
    margin-right: 17px;
    fill: transparent;
    stroke: #7d7b7b;
  }
  
  .trackTimeText {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #7d7b7b;
  }

  .light {
    color: black;
  }

  .lightImgActive {
    stroke: #000000;
  }

  .active {
    stroke: #FFFFFF;
  }

  .trackTime {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-left: 10px;
  }