.progressbarInput {
  --progress-height: 5px;
  --progress-color: #b672ff;
  --progress-bg-color: #928888;
  --progress-width: 0%;

  margin: 0;
  width: 100%;
  height: var(--progress-height);
  -webkit-appearance: none;
  cursor: pointer;
  background: var(--progress-bg-color);
  overflow: hidden;

  &::-webkit-slider-thumb {
    --thumb-height: 1px;
    --thumb-width: 1px;
    position: relative;
    -webkit-appearance: none;
    width: var(--thumb-width, var(--thumb-height));
    box-shadow: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
      100vmax var(--progress-color);
  }

  &::-webkit-slider-runnable-track {
    background: var(--progress-bg-color);
    height: var(--progress-height);
    width: var(--progress-width, 0%);
  }

  &:hover {
    --progress-height: 8px;
  }
}

  