.contentPlaylist {
    height: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .playlist {
    overflow: auto;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #928888 #181818; /* Firefox */
    
  }

  