.sidebar__item {
    width: 250px;
    height: 150px;
    
  }
  
  .sidebar__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .sidebar__content {
    height: 40px;
    color: white;
    text-align: center;
  }